@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Comfortaa";
}

.menu{
    background-color: #1d1d1d;
    opacity: 0.9;
    text-align: center;
    padding:15px;
    position: fixed;
    width:100%;
}

.menu a{
    text-decoration: none;
    color:#dbdbdb;
    padding:50px;
    transition: 0.22s;
}

.menu a:hover{
    color:white;
}

.head{
    background-image:url(1.jpg);
    text-align: center;
    background-size: cover;
    color:white;
    padding:250px 0;
    border-bottom-left-radius:140px;
    border-bottom-right-radius:140px;
    background-attachment: fixed;
}

.head p{
    margin-top:20px;
    font-size:18.7px;
}

.head button{
    border-radius:10px;
    border:none;
    outline: none;
    background-color: black;
    color:white;
    padding:5px 20px;
    margin-top:20px;
    font-size:15px;
    transition:0.19s;
}

.head button:hover{
    border-radius:20px;
    cursor: pointer;
    background-color: white ;
    color:black;
    font-weight: bolder;
    font-size: 16px;
}

.zaglav{
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
}

.company p{
    text-align: justify;
    width:85%;
    margin:auto;
    font-size:18.7px;
}

.box{
    background-color:#1d1d1d;
    opacity: 1;
    color:white;
    width:20%;
    text-align: justify;
    padding:25px 30px 15px 30px;
    border-radius:25px;
}

.box h2{
    text-align: center;
    margin-bottom:15px;
}

.box img{
    width:100%;
    border-radius:20px;
    margin-top:25px;
}

.tovar{
    display: flex;
    justify-content:space-evenly;
    background-image: linear-gradient(to bottom, #5d5d5d 0%, #1d1d1d 100%);
}

.zaglav2{
    text-align: center;
    margin-top:25px;
    padding:30px 0 30px 0;
    background-image: linear-gradient(to bottom, #8d8d8d 0%, #5d5d5d 100%);
    border-top-left-radius: 140px;
    border-top-right-radius:140px;
}